
@{
    ViewData["Title"] = "Index";
}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Category</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img  /></td>
                <td>
                    <a class="btn btn-info">Detail</a>
                    <a class="btn btn-warning">Edit</a>
                    <a class="btn btn-danger">Delete</a>
                    </td>
               
            </tr>
       
        </tbody>
    </table>
</div>

